[submodule "ImageWidget-Qt"]
	path = ImageWidget-Qt
url=https://github.com/WangHongshuo/ImageWidget-Qt
[submodule "QImageMatConvert"]
	path = QImageMatConvert
url=https://github.com/WangHongshuo/QImageMatConvert